﻿@model Pie

<h1>@Model.Name</h1>
<div class="row">
    <div class="col-md-4">
        <img style="width:400px; height:400px;" src="@Url.Content(@Model.ImageUrl)" alt="pie-image" />
    </div>
    <div class="col-md-8">
        <p>@Model.LongDescription</p>
    </div>
</div>