﻿@model PieViewModel


<h1>@Model.PieCategory</h1>
<hr />

<div class="row">
    @foreach (var pie in Model.Pies)
{
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=@Url.Content(pie.ImageUrl) alt="Card image cap">
      <div class="card-body">
        <a asp-controller="pie" asp-action="details" asp-route-id="@pie.Id" class="card-title">@pie.Name</a>
        <h5 class="card-title">@pie.Price.ToString("c")</h5>
        <p class="card-text">@pie.ShortDescription</p>
      </div>
     @* <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>*@
    </div>
    </div>
}
</div>

